*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

/*Variables*/
$grad-light-magenta: hsl(293, 100%, 63%);
$grad-light-violet: hsl(264, 100%, 61%);

$paragraph-color: hsl(270, 7%, 64%);
$ph-color: hsl(206, 6%, 79%);
$h1-color: hsl(271, 36%, 24%);
$chat-left: hsl(276, 55%, 52%);
$chat-right: hsl(271, 15%, 43%);

$app-background: hsl(270, 20%, 96%);

/*End variables*/


body{
    min-height: 100vh;
    background-color: $app-background;;
}

.body__shape{
    position: absolute;
    top: 0;
    left: -150px;
    height: 80%;
    width: 32%;
    background: linear-gradient(225grad, $grad-light-magenta,$grad-light-violet );
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: -2;
}

.hero{
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    // background-color: aqua;
    min-height: 90vh;
    margin: 0 auto;
    gap: 150px;
}

.hero__cellphone{
    flex-basis: 300px;
    height: 600px;
    background-color: white;
    // border: 1px solid black;
    box-shadow: 0px 10px 100px rgba($color: #000000, $alpha: 0.3);
    border-radius: 25px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .messages{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 5px;
        gap: 0.5rem;
        font-size: 0.8rem;
        background-color: $app-background;
        height: 100%;
        border-bottom-left-radius: 2em;
        border-bottom-right-radius: 2em;

    }

    .hero__cellphone_content{
        display: flex;
        flex-direction: column;
        width: 93%;
        height: 97%;
        gap: 0rem;


        .cellphone_header{
            color: white;
            border-radius: 25px 25px 0 0;
            height: 70px;
            background: linear-gradient(to left,$grad-light-magenta,$grad-light-violet);
            display: flex;
            justify-content: space-between;
            padding: 1em;
            align-items: flex-end;
            position: relative;
            
            .seller{
                position: absolute;
                display: flex;
                flex-direction: row;
                left: 10%;
                gap: 1em;
            }

            .header__photo{
                width: 25px;
                height: 25px;
                img{
                    width: 100%;
                    height: auto;
                    border-radius: 50%;
                }
            }

            .header__text{
                h2{
                    font-size: 0.75rem;
                }

                p{
                    font-size: 0.5rem;
                }
            }
            
            
        }


        .cellphone_msg_light{
            width: 60%;
            background-color: pink;
            color: $chat-left;
            font-size: 0.6rem;
        }

        .cellphone_msg_white{
            background-color: white;
            width: 50%;
            font-size: 0.6rem;
            color: $chat-right;
            align-self: flex-end;
        }

        .cellphone_price{
            width: 80%;
            background: linear-gradient(to right, $grad-light-magenta,$grad-light-violet);
        }

        .dogs{
            display: flex;
            width: 40px;
            height: 40px;
            align-self: center;
            gap: 10px;
            img{
                display: inline-block;
                width: 100%;
                height: auto;
                border-radius: 10px;
            }
        }

        .cellphone_price{
            display: flex;
            justify-content: space-between;

            color: white;
            padding: 9px;

            .service_length{
                display: flex;
                align-items: center;
                opacity: 0.7;
                gap: 10px;
                font-size: 0.6rem;
            }

            .shape{
                width: 15px;
                height: 15px;
                border-radius: 50%;
                border: 2px solid white;
                opacity: 0.2;
            }

            .price{
                font-weight: bold;
                font-size: 1rem;
            }
        }


        .cellphone__bottom{
            padding: 1em;
            width: 90%;
            background-color: white;
            margin-top: 1.3em;
            border-radius: 25px;
            position: relative;
            color: rgba($color: #000000, $alpha: 0.4);
            text-align: left;

            .send{
                position: absolute;
                right: -10px;
                top:10%;
                font-weight: bold;
                background-color: black;
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }
        }


    }

    
}

.msg{
    border-radius: 10px;
    padding: 5px;
}

.hero__text{
    display: flex;
    flex-direction: column;
    // padding: 0 3em 0 3em;
    flex-basis: 800px;
    flex-grow: 1;

    h1{
        color: $h1-color;
        font-size: 3em;
        margin: 0.5em 0;
    }

    p{
        color: $paragraph-color;
        padding: 0 10em 0 0;
        line-height: 2rem;
    }
}