*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

/*Variables*/
/*End variables*/
body {
  min-height: 100vh;
  background-color: hsl(270deg, 20%, 96%);
}

.body__shape {
  position: absolute;
  top: 0;
  left: -150px;
  height: 80%;
  width: 32%;
  background: linear-gradient(225grad, hsl(293deg, 100%, 63%), hsl(264deg, 100%, 61%));
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  z-index: -2;
}

.hero {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 1200px;
  min-height: 90vh;
  margin: 0 auto;
  gap: 150px;
}

.hero__cellphone {
  flex-basis: 300px;
  height: 600px;
  background-color: white;
  box-shadow: 0px 10px 100px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero__cellphone .messages {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  gap: 0.5rem;
  font-size: 0.8rem;
  background-color: hsl(270deg, 20%, 96%);
  height: 100%;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
}
.hero__cellphone .hero__cellphone_content {
  display: flex;
  flex-direction: column;
  width: 93%;
  height: 97%;
  gap: 0rem;
}
.hero__cellphone .hero__cellphone_content .cellphone_header {
  color: white;
  border-radius: 25px 25px 0 0;
  height: 70px;
  background: linear-gradient(to left, hsl(293deg, 100%, 63%), hsl(264deg, 100%, 61%));
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: flex-end;
  position: relative;
}
.hero__cellphone .hero__cellphone_content .cellphone_header .seller {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 10%;
  gap: 1em;
}
.hero__cellphone .hero__cellphone_content .cellphone_header .header__photo {
  width: 25px;
  height: 25px;
}
.hero__cellphone .hero__cellphone_content .cellphone_header .header__photo img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.hero__cellphone .hero__cellphone_content .cellphone_header .header__text h2 {
  font-size: 0.75rem;
}
.hero__cellphone .hero__cellphone_content .cellphone_header .header__text p {
  font-size: 0.5rem;
}
.hero__cellphone .hero__cellphone_content .cellphone_msg_light {
  width: 60%;
  background-color: pink;
  color: hsl(276deg, 55%, 52%);
  font-size: 0.6rem;
}
.hero__cellphone .hero__cellphone_content .cellphone_msg_white {
  background-color: white;
  width: 50%;
  font-size: 0.6rem;
  color: hsl(271deg, 15%, 43%);
  align-self: flex-end;
}
.hero__cellphone .hero__cellphone_content .cellphone_price {
  width: 80%;
  background: linear-gradient(to right, hsl(293deg, 100%, 63%), hsl(264deg, 100%, 61%));
}
.hero__cellphone .hero__cellphone_content .dogs {
  display: flex;
  width: 40px;
  height: 40px;
  align-self: center;
  gap: 10px;
}
.hero__cellphone .hero__cellphone_content .dogs img {
  display: inline-block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.hero__cellphone .hero__cellphone_content .cellphone_price {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 9px;
}
.hero__cellphone .hero__cellphone_content .cellphone_price .service_length {
  display: flex;
  align-items: center;
  opacity: 0.7;
  gap: 10px;
  font-size: 0.6rem;
}
.hero__cellphone .hero__cellphone_content .cellphone_price .shape {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid white;
  opacity: 0.2;
}
.hero__cellphone .hero__cellphone_content .cellphone_price .price {
  font-weight: bold;
  font-size: 1rem;
}
.hero__cellphone .hero__cellphone_content .cellphone__bottom {
  padding: 1em;
  width: 90%;
  background-color: white;
  margin-top: 1.3em;
  border-radius: 25px;
  position: relative;
  color: rgba(0, 0, 0, 0.4);
  text-align: left;
}
.hero__cellphone .hero__cellphone_content .cellphone__bottom .send {
  position: absolute;
  right: -10px;
  top: 10%;
  font-weight: bold;
  background-color: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.msg {
  border-radius: 10px;
  padding: 5px;
}

.hero__text {
  display: flex;
  flex-direction: column;
  flex-basis: 800px;
  flex-grow: 1;
}
.hero__text h1 {
  color: hsl(271deg, 36%, 24%);
  font-size: 3em;
  margin: 0.5em 0;
}
.hero__text p {
  color: hsl(270deg, 7%, 64%);
  padding: 0 10em 0 0;
  line-height: 2rem;
}/*# sourceMappingURL=styles.css.map */