*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 2em;
  color: indigo;
  margin-bottom: 0.5em;
  line-height: 1em;
}

.wrapper {
  max-width: 1920px;
  width: 90%;
  margin: 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em 1em;
  z-index: 1;
}

nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  height: 30%;
  width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background-color: black;
  text-align: center;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  z-index: 999;
}

nav .navbar .menu {
  -webkit-box-flex: 0.6;
      -ms-flex-positive: 0.6;
          flex-grow: 0.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .navbar .start-scheduling {
  padding: 1em;
  background-color: purple;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1em;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav ul li {
  padding: 1em;
}

nav .hamburger {
  cursor: pointer;
  font-weight: bold;
  -webkit-transform: rotate(100grad);
          transform: rotate(100grad);
}

.close {
  position: absolute;
  width: 2em;
  right: 1rem;
  top: 1rem;
  background-color: white;
}

nav .nav-open {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

/*Hero section*/
.hero {
  height: 45vh;
}

.hero-text h1 {
  font-weight: 900;
  font-size: 2em;
  color: indigo;
  margin-bottom: 0.5em;
  line-height: 1em;
}

.hero-text p {
  text-align: justify;
  margin-bottom: 1em;
}

.hero-text .hero-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 1em;
}

.hero-text .hero-buttons * {
  padding: 0.8em;
}

.hero-text .hero-buttons :nth-child(1) {
  background-color: indigo;
  color: white;
}

.hero-text .hero-buttons :nth-child(2) {
  color: darkblue;
}

.hero-text .info-data-sell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 2em;
}

.hero-text .info-data-sell p {
  margin: 0;
}

.hero-image {
  height: auto;
  background-color: aqua;
  padding: 15px;
  margin-bottom: 2em;
}

.hero-image img {
  max-width: 100%;
  max-height: 100%;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 0 auto;
  max-width: 1920px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testimonials .influencials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  gap: 0.5em;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.testimonials .influencials .avatars img {
  width: 45px;
  height: 45px;
  margin: 0 0.2em;
}

.testimonials .influencials-comentarios {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
/*# sourceMappingURL=styles.css.map */