*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

a, li, ul {
  text-decoration: none;
  list-style: none;
}

.img-responsive {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-control {
  color: #f9f9f9;
  cursor: pointer;
}

i.bi-dash-lg {
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: red;
  background-color: white;
  border-radius: 50%;
  text-align: center;
}

i.bi-plus-lg {
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: red;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  text-align: center;
  color: rgb(19, 207, 19);
}

nav {
  background-color: #1f2b37;
  color: #f9f9f9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}
nav .nav-logo {
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 1.5rem;
  position: relative;
}
nav .nav-logo::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #00A878;
  z-index: 2;
  opacity: 0.7;
}
nav .nav-logo:hover::after {
  width: 100%;
  transition: 300ms ease-in-out;
}
nav .nav-menu > ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
nav .nav-menu > ul > a {
  padding: 1rem;
}
nav .nav-menu > ul > a:hover > li::after {
  width: 70%;
  transition: 300ms ease-in-out;
}
nav .nav-menu > ul > a > li {
  position: relative;
}
nav .nav-menu > ul > a > li::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #00A878;
  z-index: 2;
  opacity: 0.7;
}
nav .nav-menu > ul .cart {
  cursor: pointer;
}
nav a {
  color: #f9f9f9;
}

section.main-slider {
  margin: 2rem 0 3rem 0;
}
section.main-slider h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #1f2b37;
  font-weight: bold;
}
section.main-slider .slider-container {
  max-width: 75%;
  height: 500px;
  margin: 0 auto;
  position: relative;
}
section.main-slider .slider-container .button-left {
  position: absolute;
  left: 50px;
  top: 50%;
}
section.main-slider .slider-container .button-right {
  position: absolute;
  right: 50px;
  top: 50%;
}
section.main-slider .slider-container .slider-dots {
  position: relative;
  bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
section.main-slider .slider-container .slider-dots .dot {
  border: 1px solid white;
  cursor: pointer;
  height: 16px;
  width: 16px;
  border-radius: 50%;
}
section.main-slider .slider-container .slider-dots .dot-active {
  background-color: #00A878;
}

section.products h1 {
  text-align: center;
  color: #1f2b37;
  padding: 3rem 0 1rem 0;
}
section.products .products-container {
  max-width: 75%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}
section.products .products-container .product-card {
  width: 300px;
  background-color: #1f2b37;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
section.products .products-container .product-card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 300ms ease-in-out;
}
section.products .products-container .product-card img {
  width: 200px;
}
section.products .products-container .product-card .product-description {
  padding: 0.5rem;
  height: 100px;
}
section.products .products-container .product-card .product-price {
  font-weight: bold;
  font-size: 1.25rem;
}
section.products .products-container .product-card .cta-cart {
  cursor: pointer;
  background-color: #00A878;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  position: relative;
  z-index: 1;
}
section.products .products-container .product-card .cta-cart::before {
  content: "";
  position: absolute;
  width: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
section.products .products-container .product-card .cta-cart:hover::before {
  background-color: #0fd69d;
  width: 100%;
  transition: 300ms ease-in-out;
}
section.products .products-container .product-card .cta-cart:hover {
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}

section.about {
  margin-top: 2rem;
}
section.about h1 {
  text-align: center;
  padding-top: 2rem;
}
section.about .about-cards {
  padding-top: 2rem;
  max-width: 75%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-content: center;
  justify-items: center;
  margin: 0 auto;
  gap: 1rem;
}
section.about .about-cards .card {
  width: 300px;
  height: 350px;
  background-color: #4f76f6;
}/*# sourceMappingURL=styles.css.map */