*, *::after, *::before {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

:root {
  /*Background colors*/
  --main-bg: hsl(218, 28%, 13%);
  --footer-bg: hsl(216, 53%, 9%);
  --testimonials-bg: hsl(219, 30%, 18%);
  /*Call to action colors*/
  --cta-cyan: hsl(176, 68%, 64%);
  --cta-blue: hsl(198, 60%, 50%);
}

body {
  background-color: var(--main-bg);
  color: white;
}

nav {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

nav .logo {
  font-size: 2em;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  padding: 1em;
}

/*Hero section*/
.hero {
  color: white;
  padding: 2em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-img {
  margin-bottom: 2em;
}

.hero .hero-img img {
  width: 100%;
  max-width: 600px;
}

.hero .hero-h1 {
  margin-bottom: 1em;
  font-size: 1.7em;
  line-height: 1.6em;
}

.hero .hero-p {
  margin-bottom: 2em;
}

.hero .hero-cta {
  background: -webkit-gradient(linear, left top, right top, from(var(--cta-cyan)), to(var(--cta-blue)));
  background: linear-gradient(to right, var(--cta-cyan), var(--cta-blue));
  padding: 1em;
  width: 200px;
  border-radius: 25px;
  font-weight: bold;
  margin-bottom: 2em;
}

/*Hero section End*/
/*Features Section*/
.features {
  font-family: 'Open Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features * {
  margin-bottom: 1em;
}

.features .feature {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.2em;
}

.features .feature .icon-feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features .feature .icon-feature img {
  width: 50px;
}

.features .feature .h2-feature {
  text-align: center;
  font-size: 1.2em;
}

.features .feature .p-feature {
  text-align: center;
}

.features .feature:nth-child(4) {
  margin-bottom: 3em;
}

/*Feature Section End*/
/*How it Works (hiw) Section*/
.hiw {
  color: white;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hiw .hiw-img img {
  width: 100%;
  max-width: 600px;
}

.hiw .hwi-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
}

.hiw .hwi-text h2 {
  margin-bottom: 1em;
  text-align: center;
  font-size: 1.2em;
}

.hiw .hwi-text p {
  margin-bottom: 1em;
}

.hiw .hwi-text .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  position: relative;
  margin-bottom: 9em;
}

.hiw .hwi-text .link::after {
  content: "";
  width: 50%;
  height: 1px;
  background-color: cyan;
  position: absolute;
  bottom: -0.5em;
  left: 0;
}

.hiw .hwi-text a {
  text-decoration: none;
  color: var(--cta-cyan);
  cursor: pointer;
}

/*How it works End*/
/*Testimonials Section*/
.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.testimonials .testimonial {
  background-color: var(--testimonials-bg);
  padding: 2em;
  width: 70%;
  border-radius: 10px;
}

.testimonials .testimonial p {
  margin-bottom: 1em;
  padding: 0.5em;
}

.testimonials .testimonial .writer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.testimonials .testimonial .writer-box .writer-img {
  width: 40px;
  border-radius: 50%;
}

.testimonials .testimonial:nth-child(3) {
  margin-bottom: 20px;
}

/*Testimonials End*/
/*Early Access Box*/
.early-access {
  position: relative;
  height: 300px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: var(--testimonials-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 150px;
  border-radius: 10px;
}

.early-access * {
  padding: 1em;
}

.early-access h1 {
  font-size: 1.2rem;
}

.early-access p {
  line-height: 20px;
  margin-bottom: 2em;
}

.early-access .acces-cta {
  width: 50%;
  background-color: var(--cta-cyan);
  border-radius: 10px;
}

/*Early access End*/
/*Footer*/
footer {
  background-color: var(--footer-bg);
  height: 500px;
  padding-top: 200px;
}

/*Foot end*/
/*# sourceMappingURL=styles.css.map */