*,*::after,*::before{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}

:root {

    /*Background colors*/
    --main-bg: hsl(218, 28%, 13%);
    --footer-bg: hsl(216, 53%, 9%);
    --testimonials-bg: hsl(219, 30%, 18%);

    /*Call to action colors*/
    --cta-cyan: hsl(176, 68%, 64%);
    --cta-blue: hsl(198, 60%, 50%);
}

body{
    background-color: var(--main-bg);
    color: white;
}

nav{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;

    .logo{
        font-size: 2em;
        font-weight: bold;
    }

    ul{
        list-style: none;
        display: flex;

        li{
            padding: 1em;
        }
    }
}


/*Hero section*/
.hero{
    color: white;
    padding: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .hero-img{
        margin-bottom: 2em;
        img{
            width: 100%;
            max-width: 500px;
        }
    }

    .hero-h1{
        margin-bottom: 1em;
        font-size: 1.7em;
        line-height: 1.6em;
    }

    .hero-p{
        margin-bottom: 2em;
    }

    .hero-cta{
        background: linear-gradient(to right,var(--cta-cyan), var(--cta-blue));
        padding: 1em;
        width: 200px;
        border-radius: 25px;
        font-weight: bold;
        margin-bottom: 2em;


    }
}
/*Hero section End*/

/*Features Section*/

.features{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    *{
        margin-bottom: 1em;
    }
    .feature{
        color: white;
        display: flex;
        flex-direction: column;
        padding: 1.2em;
        .icon-feature{
            display: flex;
            justify-content: center;

            img{
                width: 50px;
            }
        }

        .h2-feature{
            text-align: center;
            font-size: 1.2em;
        }

        .p-feature{
            text-align: center;
            // padding: 1em;
        }
    }
}

.features .feature:nth-child(4){
    margin-bottom: 3em;
}

/*Feature Section End*/


/*How it Works (hiw) Section*/

.hiw{
    color: white;
    padding: 1em;
    display: flex;
    flex-direction: column;
    .hiw-img{
        img{
            width: 100%;
            max-width: 600px;
        }
    }

    .hwi-text{
        display: flex;
        flex-direction: column;
        // text-align: justify;
        padding: 1em;
        h2{
            margin-bottom: 1em;
            text-align: center;
            font-size: 1.2em;
        }

        p{
            margin-bottom: 1em;
        }

        .link{
            display: flex;
            align-items: center;
            gap: 1em;
            position: relative;
            margin-bottom: 9em;
        }

        .link::after{
            content: "";
            width: 50%;
            height: 1px;
            background-color: cyan;
            position: absolute;
            // display: block;
            bottom: -0.5em;
            left: 0;
        }
        a{
            text-decoration: none;
            color: var(--cta-cyan);
            cursor: pointer;
        }
    }
}

/*How it works End*/



/*Testimonials Section*/

.testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    .testimonial{
        background-color: var(--testimonials-bg);
        padding: 2em;
        width: 70%;
        border-radius: 10px;
    
        p{
            margin-bottom: 1em;
            padding: 0.5em;
        }

        .writer-box{
            display: flex;
            align-items: center;
            gap: 1em;

            .writer-img{
                width: 40px;
                border-radius: 50%;
            }
        }
    }
}

.testimonials .testimonial:nth-child(3){
    margin-bottom: 20px;
}

/*Testimonials End*/


/*Early Access Box*/

.early-access{
    position: relative;
    height: 300px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: var(--testimonials-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 150px;
    border-radius: 10px;

    *{
        padding: 1em;
    }

    h1{
        font-size: 1.2rem;
    }

    p{
        line-height: 20px;
        margin-bottom: 2em;
    }

    .acces-cta{
        width: 50%;
        background-color: var(--cta-cyan);
        border-radius: 10px;
    }

}

/*Early access End*/


/*Footer*/

footer{
    background-color: var(--footer-bg);
    // height: 500px;
    padding-top: 200px;

    .footer-logo{
        margin: 1em;
        font-size: 2em;
    }
    .company-info{
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 2em;

        *{
            display: flex;
            gap: 1em;
            padding: 0.2em;
        }

        .footer-menu{
            flex-direction: column;
            ul{
                display: flex;
                flex-direction: column;
            }
        }
    }

    .footer-social{
        display: flex;
        gap: 1em;
        justify-content: center;
        padding-bottom: 1.5em;
        svg{
            width: 25px;
            fill: white;
        }
    }
}

/*Foot end*/












@media (min-width: 800px) {
    .features{
        flex-direction: row;
        flex-wrap: wrap;

        .feature{
            flex-basis: 350px;

        }
    }


    .hiw{
        flex-direction: row;

        .hiw-img{
            flex-basis: 100%;
        }

        .hiw-text{
            flex-basis: 40%;
        }
    }



footer{
    .footer-logo{
        text-align: center;
        font-size: 2.5em;
    } 
    .company-info{ 
        justify-content: center;
        .company-location{
            justify-content: center;
            p{
                flex-basis: 50%;
            }
        }

        .company-phone{
            justify-content: center;
            p{
                flex-basis: 50%;
            }
        }

        .company-email{
            justify-content: center;
            p{
                flex-basis: 50%;
            }
        }

        .footer-menu{
        flex-direction: row;
        justify-content: space-evenly;
        }
    }}
}










@media (min-width: 1440px){

    .features{
        max-width: 1440px;
        margin: 0 auto;
        
        .feature{
            flex-basis: 45%;
            padding: 0 2em;
            p{
                padding: 0 2em;
            }
        }
    }


    .hiw{
        max-width: 1440px;
        margin: 0 auto 50px;
        padding: 0 50px;

        .hiw-img{
            flex-basis: 70%;
            display: flex;
            justify-content: center;

            
        }

        .hwi-text{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }

    .testimonial{
        max-width: 1000px;
        margin: 0 auto;
    }

    .early-access{
        max-width: 800px;
    }

}