*, *::after, *::before {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}

:root {
  /*Background colors*/
  --main-bg: hsl(218, 28%, 13%);
  --footer-bg: hsl(216, 53%, 9%);
  --testimonials-bg: hsl(219, 30%, 18%);
  /*Call to action colors*/
  --cta-cyan: hsl(176, 68%, 64%);
  --cta-blue: hsl(198, 60%, 50%);
}

body {
  background-color: var(--main-bg);
  color: white;
}

nav {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
nav .logo {
  font-size: 2em;
  font-weight: bold;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  padding: 1em;
}

/*Hero section*/
.hero {
  color: white;
  padding: 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .hero-img {
  margin-bottom: 2em;
}
.hero .hero-img img {
  width: 100%;
  max-width: 500px;
}
.hero .hero-h1 {
  margin-bottom: 1em;
  font-size: 1.7em;
  line-height: 1.6em;
}
.hero .hero-p {
  margin-bottom: 2em;
}
.hero .hero-cta {
  background: linear-gradient(to right, var(--cta-cyan), var(--cta-blue));
  padding: 1em;
  width: 200px;
  border-radius: 25px;
  font-weight: bold;
  margin-bottom: 2em;
  -webkit-animation: ctaAnimation 3s infinite;
          animation: ctaAnimation 3s infinite;
  position: relative;
}

/*Hero section End*/
/*Features Section*/
.features {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features * {
  margin-bottom: 1em;
}
.features .feature {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1.2em;
}
.features .feature .icon-feature {
  display: flex;
  justify-content: center;
}
.features .feature .icon-feature img {
  width: 50px;
}
.features .feature .h2-feature {
  text-align: center;
  font-size: 1.2em;
}
.features .feature .p-feature {
  text-align: center;
}

.features .feature:nth-child(4) {
  margin-bottom: 3em;
}

/*Feature Section End*/
/*How it Works (hiw) Section*/
.hiw {
  color: white;
  padding: 1em;
  display: flex;
  flex-direction: column;
}
.hiw .hiw-img img {
  width: 100%;
  max-width: 600px;
}
.hiw .hwi-text {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.hiw .hwi-text h2 {
  margin-bottom: 1em;
  text-align: center;
  font-size: 1.2em;
}
.hiw .hwi-text p {
  margin-bottom: 1em;
}
.hiw .hwi-text .link {
  display: flex;
  align-items: center;
  gap: 1em;
  position: relative;
  margin-bottom: 9em;
}
.hiw .hwi-text .link::after {
  content: "";
  width: 50%;
  height: 1px;
  background-color: cyan;
  position: absolute;
  bottom: -0.5em;
  left: 0;
}
.hiw .hwi-text a {
  text-decoration: none;
  color: var(--cta-cyan);
  cursor: pointer;
}

/*How it works End*/
/*Testimonials Section*/
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.testimonials .testimonial {
  background-color: var(--testimonials-bg);
  padding: 2em;
  width: 70%;
  border-radius: 10px;
}
.testimonials .testimonial p {
  margin-bottom: 1em;
  padding: 0.5em;
}
.testimonials .testimonial .writer-box {
  display: flex;
  align-items: center;
  gap: 1em;
}
.testimonials .testimonial .writer-box .writer-img {
  width: 40px;
  border-radius: 50%;
}

.testimonials .testimonial:nth-child(3) {
  margin-bottom: 20px;
}

/*Testimonials End*/
/*Early Access Box*/
.early-access {
  position: relative;
  height: 300px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: var(--testimonials-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 150px;
  border-radius: 10px;
}
.early-access * {
  padding: 1em;
}
.early-access h1 {
  font-size: 1.2rem;
}
.early-access p {
  line-height: 20px;
  margin-bottom: 2em;
}
.early-access .acces-cta {
  width: 50%;
  background-color: var(--cta-cyan);
  border-radius: 10px;
}

/*Early access End*/
/*Footer*/
footer {
  background-color: var(--footer-bg);
  padding-top: 200px;
}
footer .footer-logo {
  margin: 1em;
  font-size: 2em;
}
footer .company-info {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
}
footer .company-info * {
  display: flex;
  gap: 1em;
  padding: 0.2em;
}
footer .company-info .footer-menu {
  flex-direction: column;
}
footer .company-info .footer-menu ul {
  display: flex;
  flex-direction: column;
}
footer .footer-social {
  display: flex;
  gap: 1em;
  justify-content: center;
  padding-bottom: 1.5em;
}
footer .footer-social svg {
  width: 25px;
  fill: white;
}

/*Foot end*/
@media (min-width: 800px) {
  nav {
    padding: 0 5em;
  }

  .features {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .features .feature {
    flex-basis: 350px;
  }

  .hiw {
    flex-direction: row;
  }
  .hiw .hiw-img {
    flex-basis: 100%;
  }
  .hiw .hiw-text {
    flex-basis: 40%;
  }

  footer .footer-logo {
    text-align: center;
    font-size: 2.5em;
  }
  footer .company-info {
    justify-content: center;
  }
  footer .company-info .company-location {
    justify-content: center;
  }
  footer .company-info .company-location p {
    flex-basis: 50%;
  }
  footer .company-info .company-phone {
    justify-content: center;
  }
  footer .company-info .company-phone p {
    flex-basis: 50%;
  }
  footer .company-info .company-email {
    justify-content: center;
  }
  footer .company-info .company-email p {
    flex-basis: 50%;
  }
  footer .company-info .footer-menu {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media (min-width: 1440px) {
  nav {
    padding: 0 10em;
  }

  .features {
    max-width: 1440px;
    margin: 0 auto;
  }
  .features .feature {
    flex-basis: 45%;
    padding: 0 2em;
  }
  .features .feature p {
    padding: 0 2em;
  }

  .hiw {
    max-width: 1440px;
    margin: 0 auto 50px;
    padding: 0 50px;
  }
  .hiw .hiw-img {
    flex-basis: 70%;
    display: flex;
    justify-content: center;
  }
  .hiw .hwi-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .testimonial {
    max-width: 1000px;
    margin: 0 auto;
  }

  .early-access {
    max-width: 800px;
  }
}
@-webkit-keyframes ctaAnimation {
  25% {
    border-radius: 0;
    box-shadow: 0px 5px 50px white;
    transform: rotate(1grad);
  }
  50% {
    border-radius: 0;
    box-shadow: 0px 5px 20px white;
  }
  75% {
    border-radius: 0;
    box-shadow: 0px 5px 20px white;
    transform: rotate(-1grad);
  }
}
@keyframes ctaAnimation {
  25% {
    border-radius: 0;
    box-shadow: 0px 5px 50px white;
    transform: rotate(1grad);
  }
  50% {
    border-radius: 0;
    box-shadow: 0px 5px 20px white;
  }
  75% {
    border-radius: 0;
    box-shadow: 0px 5px 20px white;
    transform: rotate(-1grad);
  }
}/*# sourceMappingURL=styles.css.map */