*, *::before, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

/*Mixins*/
/*Mixins End*/
/*Variables*/
/*Variables End*/
body {
  background-color: #082032;
}

nav {
  width: 90%;
  margin: 0 auto;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

nav h1 {
  display: inline;
  color: rgba(255, 255, 255, 0.8);
  font-size: 3em;
  letter-spacing: 5px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 1em;
  font-size: 1.1em;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
}

nav ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #FF4C29;
  z-index: -1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav ul li:hover::after {
  width: 100%;
}

nav ul li:hover {
  color: #FF4C29;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.hero {
  height: 90vh;
  margin: 0 auto;
  padding: 0 5em;
}

.hero .hero__mainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero__mainContent .hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero__mainContent .hero__text p {
  font-size: 2em;
  padding: 1em 0;
}

.hero .hero__mainContent .hero__text h1 {
  font-size: 7em;
  color: #FF4C29;
}

.hero .hero__mainContent .hero__text button {
  width: 200px;
  height: 50px;
  color: white;
  position: relative;
  background-color: transparent;
  border: 1px solid #FF4C29;
  font-size: 1em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

.hero .hero__mainContent .hero__text button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  width: 0;
  height: 100%;
  background-color: #FF4C29;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  z-index: -1;
}

.hero .hero__mainContent .hero__text button:hover::after {
  left: 0;
  right: 100%;
  width: 100%;
}

.hero .hero__mainContent .hero__text img {
  position: absolute;
  top: 55%;
  left: 2%;
  -webkit-animation: flecha;
          animation: flecha;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.hero .hero__mainContent .hero__image {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*About me Section*/
.about__me .lebenslauf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1em;
}

.about__me .lebenslauf .lebenslauf__card {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  border: 1px solid white;
  background-color: black;
  height: 400px;
}

/*End About me Section*/
/*Contact Section*/
.contact {
  height: 700px;
  background-color: red;
}

/*End Contact Section*/
@-webkit-keyframes flecha {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: translateY(100px) rotate(90deg);
            transform: translateY(100px) rotate(90deg);
  }
}
@keyframes flecha {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: translateY(100px) rotate(90deg);
            transform: translateY(100px) rotate(90deg);
  }
}
/*# sourceMappingURL=styles.css.map */