*,*::before,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/*Mixins*/
@mixin flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin flexRowCentered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // align-items: center;
}
/*Mixins End*/

/*Variables*/
$mainItems-color: #082032;
$subItems-color: #2C394B;
$details-color: #334756;
$mainText-color: #ff6141;
/*FF4C29*/
/*Variables End*/

body{
    background-color: $mainItems-color;
}

nav{
    width: 90%;
    margin: 0 auto;
    color: white;
    @include flexRowCentered();
    justify-content: space-between;
    margin-bottom: 3em;
    position: sticky;
    top: 0;
    z-index: 999;
    h1{
        display: inline;
        color: rgba($color: #ffffff, $alpha: 0.8);
        font-size: 3em;
        letter-spacing: 5px;
    }

    ul{
        @include flexRowCentered();
        list-style: none;
        li{
            display: inline-block;
            padding: 1em;
            font-size: 1.1em;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 1px;
                background-color: $mainText-color;
                z-index: -1;
                transition: all 0.3s ease-in-out;
            }
            &:hover::after{
                width: 100%;
            }
            &:hover{
                color: $mainText-color;
            }
        }
    }
}

.wrapper{
    width: 90%;
    margin: 0 auto;
}
.hero{
    min-height: 72vh;
    margin: 0 auto;
    padding: 0 5em;
    @include flexRowCentered();
    flex-wrap: wrap;
        .hero__text{
            @include flexColumn();
            flex-basis: 60%;
            padding-bottom: 8em;
            p{
                font-size: 2em;
                padding: 1em 0;
            }
            h1{
                font-size: 7em;
                color: $mainText-color;
            }
            button{
                width: 200px;
                height: 50px;
                color: white;
                position: relative;
                background-color: transparent;
                border: 1px solid $mainText-color;
                font-size: 1em;
                align-self: center;
                cursor: pointer;
                &::after{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 50%;
                    right: 50%;
                    width: 0;
                    height: 100%;
                    background-color: $mainText-color;
                    transition: all 0.6s ease-in-out;
                    z-index: -1;
                }
                &:hover::after{
                    left: 0;
                    right: 100%;
                    width: 100%;
                }
            }
            img{
                position: absolute;
                top: 55%;
                left: 2%;
                animation: flecha;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }
        }

        .hero__image{
            flex-basis: 40%;
            @include flexRowCentered();
            // background-image: url("/images/profile_pic.JPG");
            // background-size: auto;
            img{
                max-width: 100%;
                max-height: 700px;
                background-repeat: no-repeat;
                object-fit: cover;
               
            }
        }
}

/*Knowledge Section*/
.knowledge{
    height: auto;
    background-color: $mainItems-color;
    box-shadow: 0 0 20px 2px $details-color;
    margin: 2em 0 8em 0;
    @include flexRowCentered();
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    svg{
        transition: all 0.4s ease-in-out;
        // opacity: 0.5;
        &:hover{
            transform: scale(1.2)
        }
    }
}
/*End Knowledge Section*/

/*About me Section*/
.experience{
    h1:first-child{
        font-size: 3em;
        font-weight: bold;
        text-align: center;
        padding: 0 0 2.5em 0;
    }
    .lebenslauf{
        @include flexRowCentered();
        flex-wrap: wrap;
        align-items: center;
        padding: 0 5em;
        margin-bottom: 4em;
        gap: 1em;
        .lebenslauf__card{
            padding: 3em 0 0 0;
            position: relative;
            flex-basis: 400px;
            background-color:$subItems-color;
            border: 1px solid $mainItems-color;
            min-height: 400px;
            @include flexColumn();
            justify-content: flex-start;
            align-items: center;

            .lebenslauf__country{
                position: absolute;
                top: -45px;
                left: 45px;
            }
            .lebenslauf__firma{
                position: absolute;
                top: -40px;
                right: 45px;
                width: 80px;
                height: 80px;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .lebenslauf__plane{
                position: absolute;
                top: -100px;
        left: 50px;
                // transform: rotate(90deg);
                animation: plane;
                animation-duration: 5s;
                animation-iteration-count: infinite;
                // animation-direction: alternate-reverse;
            }
        }
    }
}

/*End About me Section*/


/*Contact Section*/
.languages{
    h1:first-child{
        font-size: 3em;
        font-weight: bold;
        text-align: center;
        padding: 0 0 1em 0;
    }
    @include flexColumn();
    
    margin: 0 auto;
    margin-bottom: 4em;
    .languages__list{
        @include flexRowCentered();
        flex-wrap: wrap;
        gap: 10px;
    }
    .language__box{
        flex-basis: 300px;
        min-height: 60px;
        padding: 1em;
        background-color: $subItems-color;
        // outline: 1px solid white;
        @include flexRowCentered();
        align-items: center;
        justify-content: space-around;
        .language_level{
            color: $mainText-color;
        }
        .language_flag{
            width: 100px;
            height: auto;
            transition: all 0.2s ease-in-out;
            img{
                width: 100%;
                height: auto;
            }
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}
/*End Contact Section*/


/*Contact Section*/
.contact{
    height: 300px;
    background-color: $subItems-color;
}
/*End contact section*/

@keyframes flecha {
    0%{
        transform: rotate(90deg);
    }
    100%{
        transform: translateY(100px) rotate(90deg);
    }
}


@keyframes plane {
    0%{ 
        // transform: rotate(90deg);
    }
    50%{
        transform: rotate(90deg);
        top: -110px;
        left: 100px;
    }
    100%{
        
        transform: translateX(420px) rotate(120deg);
    }
}